body {
    display: flex;
    flex-direction: row;
    height: 100%;

    &>* {
        padding: .5em;
    }
}

.pfp {
    width: 7em;
    border-radius: 2em;
    border: var(--box-crisp);
    box-shadow: 0 0 10px #000000ab;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 1/1;

    &>img {
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 1em;
    }

    &>.overlay {
        z-index: 2;
        width: 100%;
        height: 100%;
        border-radius: 0em;
    }
}

.msg:not(.connected):not(:has(+ .msg.connected)) .contains_text {
    border-radius: 2em;
}

.msg {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: .5em;
    padding: .5em 1em;
    content-visibility: auto;
    contain-intrinsic-size: 200px;


    .reply-excerpt {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        gap: .3em;
        flex-direction: column;
        opacity: .7;

        & .reply-preview {
            padding: .7em 1em;
            border-radius: .5em;
            background-color: var(--col-bg2);
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .contains_text {
        padding: .7em 1em;
        border-radius: .5em;
    }

    &.connected {
        padding-top: 0;
    }

    &.our {
        align-items: flex-end;

        & .contains_text {
            background-color: var(--col-bgh);
            border-radius: 2em .5em .5em 2em;
        }

        &.connected {
            flex-direction: row-reverse;

            .contains_text {
                border-radius: 2em .5em 2em 2em;
            }
        }

        & .data {
            flex-direction: row-reverse;
        }
    }

    &.their {
        align-items: flex-start;

        & .contains_text {
            background-color: var(--col-bg2);
            border-radius: .5em 2em 2em .5em;
        }

        &.connected {
            .contains_text {
                border-radius: .5em 2em 2em 2em;
            }
        }
    }

    &.editing .contains_text {
        &::after {
            content: "click esc to cancel edit, enter to update";
            opacity: .5;
        }
    }

    &:hover {
        background-color: var(--two);


        &.connected .data,
        & .msg_actions,
        & .time {
            opacity: 1;
            display: flex;
            gap: .5em;
        }
    }

    & .msg_actions {
        &>* {
            cursor: pointer;
            opacity: .8;

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    & .time {
        opacity: .5;
    }

    &.connected .data,
    & .msg_actions {
        opacity: 0;
        display: flex;
        white-space: nowrap;
        flex-wrap: nowrap;

        &>* {
            cursor: pointer;
            opacity: .8;
        }
    }

    &.connected {
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    &>.data {
        display: flex;
        flex-direction: row;
        gap: .7em;
        flex-wrap: wrap;
        align-items: center;

        &>.fill {
            flex: 1;
        }

        &>.pfp {
            width: 1em;
            height: 1em;
            border-radius: 2em;
        }


        &>.bold {
            opacity: .8;
            font-weight: bold;

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }

        & div:has(> .custom-emoji:first-child:last-child)>.custom-emoji {
            width: 2em;
            height: 2em;
            transform: scale(1.5);
        }
    }
}

.sidebar {
    width: 400px;
    max-width: 500px;
    border-right: 1px solid var(--box-crisp-col);
    background-color: var(--col-bg2);
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: 0;
    color: inherit;
    font: inherit;
}

.searchbar {
    background-color: var(--col-bg3);
    border-radius: .5em;
    display: flex;
    gap: .3em;
    display: flex;
    padding: .5em .8em;
    align-items: center;

    &>input {
        flex: 1;
    }

    &>.icon {
        opacity: .5;
    }
}

#notes {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1em 0;
    gap: 1.5em;
    text-align: center;

    &>.note_user {
        position: relative;
        margin-top: 1em;

        &>.note {
            background-color: var(--col-bg3);
            padding: .5em;
            border-radius: 1em 1em 1em 0;
            z-index: 5;
            position: absolute;
            top: -1em;
            right: -1em;
            margin-left: 2em;
            width: fit-content;
            box-shadow: 0 5px 10px #000000ab;
        }

        &>.pfp {

            margin-bottom: .5em;
        }
    }
}

.messagesbarheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;

    &>.icon {
        opacity: .7;
    }

    &>span {
        font-weight: bold;
    }
}

.user_single {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    border-radius: .5em;
    margin-bottom: .5em;
    padding: .3em;

    &:hover {
        background-color: var(--col-bg3);
    }

    &>.pfp {
        height: 3em;
        width: 3em;
        border-radius: 5em;
    }
}

#users_list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.single_user_text {
    opacity: .5;
    font-size: small;
}

#interactive_logs {
    flex: 1;
    overflow-y: auto;
}

.texting_space {
    display: flex;
    flex-direction: column;
    width: 100%;
}

img.msg_img {
    border-radius: 1.5em;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    margin-top: .5em;
}