.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: flex-start;
    position: relative;

    &>* {
        width: 0;
        flex: 1;
    }

    &>.listSection {
        background: var(--col-bg2);
        padding: .5em;

        &>.label {
            margin: 5px;
            margin-top: 1em;
            opacity: .5;
        }

        &>#mailList {
            display: flex;
            flex-direction: column;
            gap: .2em;
            min-width: 200px;

            &>.singMail {
                padding: .5em;
                cursor: pointer;
                overflow: hidden;
                border-radius: var(--siz-radius1);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                white-space: nowrap;
                gap: 2em;
                align-items: center;
                display: inherit;

                &>* {
                    white-space: nowrap;
                }

                &>.user {
                    display: inherit;
                    gap: .3em;
                    width: 6em;
                }

                &>.text {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    overflow: hidden;
                    gap: .5em;
                    flex: 1;

                    &>.title {
                        font-weight: bold;
                    }

                    &>.peek {
                        flex-grow: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &:hover {
                    background-color: var(--col-bg3);
                }
            }
        }
    }
}

.divider {
    background-color: var(--box-crisp-col);
    height: 1px;
    width: 80%;
    margin: 0 auto;
}


.mailuserdata {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transition: .3s ease-in-out;
    z-index: 5;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.mailuseravatar {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.mailuseravatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--siz-radius2);
}

.mailtimestamp {
    font-size: 80%;
    opacity: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readMailSection {
    background-color: var(--col-bg2);
    border: var(--box-crisp);
    overflow: hidden;
    min-width: 500px;
}

.mailHeader {
    background-color: var(--col-bg3);
    padding: 2em;
}

#mailBody {
    padding: 2em;
}

.mailAvatar {
    width: 1.3em;
    height: 1.3em;
    border-radius: 1em;
}

#mailTitle {
    margin: 0;
    margin-bottom: .5em;
}

@media print {
    .listSection {
        display: none;
    }

    .printBtn {
        display: none;
    }

    * {
        background-color: white;
        color: black;
    }

    #mailBody,
    .mailHeader {
        padding: .5em;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }
}

#mailDraftPage {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: fit-content;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 1em;

    &>* {
        animation: slideIn .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &>.initBtn {
        display: flex;
        background: var(--colors-accent);
        padding: 1em;
        display: flex;
        border-radius: 1em;
        align-items: center;
        gap: .5em;
        width: fit-content;
    }

    &>.draftPage {
        padding: 1em;
        background: var(--col-bg3);
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 500px;
        box-shadow: 0 5px 10px #0000002e;
    }
}

input,
textarea {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: 0;
    font: inherit;
    resize: vertical;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: .3em;

    .input {
        display: flex;
        flex-direction: row;
        gap: .3em;
        align-items: center;

        &>.label {
            width: 2.5em;
        }
    }
}

.btnfooter {
    display: flex;
    gap: .5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &>.errtxt {
        color: var(--col-bad);
    }
}

@keyframes btnmorph {
    0% {
        scale: 1.3;
    }
}

.txtbtn {
    padding: .5em 1em;
    background-color: var(--col-bg3);
    filter: brightness(120%);
    border-radius: .5em;

    &.target {
        background-color: var(--colors-accent);
        animation: btnmorph .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}