* {
    scrollbar-width: thin;
    scrollbar-color: #ffffffab transparent;
}

.symb {
    font-family: 'Material Symbols Rounded';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.3s ease;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    overflow: hidden;
}

.session {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.server_data {
    width: 200px;
}

#top_panel {
    justify-content: space-between;
}

.top_panel {
    width: calc(100% - 1.6em);
    background-color: var(--col-bg3) !important;
    padding: .8em;
    justify-content: space-between;
    align-content: center;
    display: flex;
    gap: .3em;

    &.profile_card {
        padding: 3.5px;
        justify-content: left;
    }

    &.open {
        &>.opener_chev {
            transform: rotate(90deg);
        }
    }
}

.profile_card {
    width: 200px;
    display: flex;
    gap: .5em;
    flex-grow: 0;
    align-items: center;
    transition: .2s;
    background-color: inherit;
    cursor: pointer;

    &.offline {
        opacity: .5;
    }

    &:hover {
        filter: brightness(140%);
    }

    &>.pfp {
        aspect-ratio: 1/1;
        height: 40px;
        border-radius: .5em;
        background-color: #ffffff5a;
    }

    &>.data {
        &>.status {
            font-size: small;
        }

        &>.name {
            display: flex;
            gap: .3em;
            align-items: center;
        }
    }
}

#serverControls {
    padding: .5em;
    background-color: var(--col-bg3);
    border-radius: 0 0 .5em .5em;
    display: none;
}

.server_ui {
    display: inherit;
    flex-direction: row;
    flex: 1;
    height: 0;

    &>.channels,
    &>.members_list {
        width: 230px;
        background-color: var(--col-bg2);
    }

    &>.channels,
    &>.members_list,
    &>.feed>#msgs_list {
        overflow: hidden;
        overflow-y: auto;
    }

    & .members_lists {
        display: flex;
        flex-direction: column;
        padding: .5em;
        gap: .5em;

        &>.sublist_title {
            font-size: small;
            margin: .5em 0;
            opacity: .5;
            text-transform: uppercase;
        }
    }

    & #channels {
        padding: .5em;

        &>hr {
            outline: 0;
        }
    }

    .feed {
        flex: 1;
        display: flex;
        width: 0;
        flex-direction: column;

        &>div#replyPrompt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .3em .5em;
            background: var(--col-bgh);
            border-radius: .5em .5em 0 0;
            margin: 0 1em;
            align-items: center;

            &.hidden {
                display: none;
            }

            &>div {
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;

                &>#replyun {
                    background: #0069ff3d;
                    padding: 1px 5px;
                    border-radius: .5em;
                    border: 1px solid #48749e;
                    color: #b5dbff;
                }
            }

            &>.symb {
                background-color: #ffffff38;
                border-radius: .3em;
                font-size: 18px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        &>.msg_area {
            width: calc(100% - 1em);
            display: flex;
            flex-direction: column;
            margin: 0em .5em;
            margin-bottom: .5em;
            position: relative;

            &>.messagebar {
                display: flex;
                flex-direction: row;
                gap: 3px;
                align-items: center;
                width: 100%;
                background: var(--col-bg2);
                border-radius: .5em;

                &>textarea {
                    width: 100%;
                    background-color: transparent;
                    color: inherit;
                    font: inherit;
                    font-size: inherit;
                    border: 0;
                    min-height: 0;
                    height: fit-content;
                    padding: .7em 1em;
                    outline: 0;
                    flex-grow: 1;
                    max-height: 300px;
                    overflow-y: auto;
                    resize: none;
                }

                &>i {
                    padding: .3em;
                    font-size: 20px;
                    margin-right: .3em;
                    border-radius: .3em;
                    opacity: .8;

                    &:hover {
                        background-color: var(--col-bg3);
                    }
                }
            }
        }
    }
}

.single_chnl {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .3em .3em;
    border-radius: .5em;
    margin-bottom: .2em;
    background-color: inherit;
    cursor: pointer;
    background-color: var(--col-bg2);
    position: relative;

    &>.badge {
        position: absolute;
        right: 5px;
        background: white;
        border-radius: 1em;
        display: flex;
        color: black;
        font-family: monospace;
        padding: 6px;
        height: 10px;
        font-size: 16px;
        width: 10px;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        filter: brightness(140%);
    }

    &.active {
        background: var(--col-bg3);
    }

    &>.symb {
        font-size: 1.2em;
        opacity: .7;
    }
}

#msgs_list {
    flex: 1;
    padding: 1em 0;
    scroll-padding: 0;
    padding: 1em .5em;
}

.sing_msg {
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    margin-top: .5em;
    position: relative;

    &.replyingto {
        background-color: #131420;
    }

    &.extra {
        margin-top: 0;
    }

    &>.reply-excerpt {
        opacity: .7;
        overflow: hidden;
        width: calc(100% - 50px);
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        padding-left: 24px;
        gap: 5px;
        display: flex;

        &>.reply-preview {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &>.msg_ctnt {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px 5px;
        gap: .5em;
        position: relative;

        &.extra {
            align-items: center;
            margin-top: 0;
        }

        &>.pfp {
            aspect-ratio: 1/1;
            width: 40px;
            border-radius: .5em;
        }

        &>.time {
            width: 40px;
            font-size: 10px;
            opacity: 0;
        }

        &>.data {
            width: 0;
            flex: 1;
            transition: filter .5s;

            & img {
                display: flex;
                max-width: 100%;
                max-height: 260px;
                object-fit: contain;
                border-radius: .5em;
                border: var(--box-crisp);
                margin: .5em 0;
            }

            &>.header {
                display: flex;
                flex-direction: row;
                gap: .5em;
                align-items: center;

                &>.name {
                    color: white;
                }

                &>.time {
                    opacity: .5;
                    font-size: small;
                }
            }

            &>p {
                margin: 0;
                user-select: text;

                & a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    display: block;
                    color: dodgerblue;
                }
            }
        }
    }


    .msg_actions {
        position: absolute;
        right: .5em;
        background: var(--col-bg2);
        border: var(--box-crisp);
        border-radius: .5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow: hidden;
        visibility: hidden;
        top: -12px;

        &>.button {
            font-size: 20px;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff0c;
            }
        }
    }

    &:hover {
        background-color: #ffffff0c;

        &>.msg_actions {
            visibility: visible;
        }

        & .time {
            opacity: .5;
        }
    }
}

hr {
    opacity: .2;
    height: 1px;
    background: white;
    border: 0;
}


.rplarrow {
    display: flex;
    width: 20px;
    height: 20px;
    transform: translateY(10px);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-top-left-radius: .5em;
}

.loader {
    height: 50px;
    aspect-ratio: 2;
    border: 10px solid #000;
    transform: scale(0.5);
    box-sizing: border-box;
    background:
        radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) center/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) right/20px 20px,
        #000;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l14 1s infinite;
}

@keyframes l14 {
    100% {
        background-position: right, left, center, right
    }
}

.loader2 {
    width: 15px;
    transform: scale(0.5);
    margin: 0 .5em;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        background: #fff
    }

    33% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        background: #fff2
    }

    66% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff2
    }

    100% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff
    }
}

#orion {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000000;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 3em;
    animation: orion 15s infinite ease-in-out;
}

@keyframes orion {
    50% {

        letter-spacing: 10px;
        text-shadow: 0 0 10px white;
    }
}

.lazier_loader {
    & .feed {
        & .data {
            filter: contrast(0);
            background: #000000;
            border-radius: 1em;
            opacity: .1;
        }

        & .pfp {
            filter: contrast(0);
            opacity: .2;

        }

        & .reply-excerpt {
            filter: contrast(0);

            &>span {
                background-color: #000;
                opacity: .2;
                filter: contrast(0);
                border-radius: 1em;
            }
        }
    }

}

@media only screen and (max-width: 500px) {
    .members_list {
        width: 20px !important;

        &:hover {
            width: 200px !important;
        }
    }

    .channels {
        width: 20px !important;

        &:hover {
            width: 200px !important;
        }
    }
}

span.mention {
    padding: 2px 5px;
    background: #678fff4d;
    border-radius: .5em;
}

div.blockedheader {
    margin-left: .5em;
    display: flex;
    gap: .5em;
    margin: .6em;
    align-items: center;
}

div.blockedheader>div.message {
    margin-left: -.4em;
}

div.blockedheader>a {
    text-decoration: none;
    color: #1397cb;
}

#memberlistbtn {
    background-color: transparent;
    border: none;
    color: var(--col-txt1);
    padding: 0;
    font-size: 0;
}

.floating {
    position: absolute;
    bottom: 5em;
    background: var(--col-bg2);
    border-radius: 1em;
    padding: .5em;
    width: 300px;
    height: 300px;
    max-width: 90%;
    right: 0;
    box-shadow: 0 0 10px #000000ab;
    border: var(--box-crisp);
    overflow-y: scroll;
    display: none;

    & .tab-btn {
        padding: 3px 8px;
        border-radius: .5em;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: var(--col-bg3);
        }

        &.active {
            background-color: var(--col-bg3);
            border: var(--box-crisp);
        }
    }

    & #emojiscrollable {
        display: grid;
        margin: 3.5em 0;
        grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));

        &>.single_emoji {
            padding: .3em;
            aspect-ratio: 1 / 1;
            height: 28px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--col-bg3);
            }
        }
    }
}

.msg_ctnt .name,
.msg_ctnt .mention,
.msg_ctnt .pfp {
    cursor: pointer;
}

#typing {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.5) 100%);
    background-size: 150% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulseGradient 3s linear infinite;
    opacity: 0.8;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

@keyframes pulseGradient {
    0% {
        background-position: 200% 0;
    }

    50% {
        background-position: 0% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.oembed_embed {
    padding: 1em;
    background: var(--col-bg2);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: var(--box-crisp);
    margin-left: 3em;
    max-width: 350px;
    border-left: 3px solid var(--col-bgh);

    &>.oembed_title {
        color: dodgerblue;
    }

    & iframe {
        width: 100%;
        aspect-ratio: 9/6;
        height: auto;
        border: var(--box-crisp);
        border-radius: .5em;
    }
}

.tenor-gif-embed {
    margin-left: 3em;
    border-radius: 1em;
    overflow: hidden;
    width: 250px;
    pointer-events: none;
}

a {
    color: dodgerblue;
}

.gif-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--col-bg1);
    border-radius: .5em;
    align-items: center;
    border: var(--box-crisp);

    &>input {
        background: transparent;
        color: inherit;
        border: 0;
        padding: .5em .7em;
        flex: 1;
    }

    &>span {
        padding: .3em;
    }
}

#picker-content {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}

div#gif-results {
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px auto 80px;
    column-gap: .5em;
    row-gap: .5em;
    object-fit: scale-down;

    &>.gif-item-wrapper {
        position: relative;
        padding: 5px;
        border-radius: .5em;

        &:hover {
            background: var(--col-bg3);

            &>button {
                display: flex;
            }
        }

        &>button {
            position: absolute;
            background: var(--col-bg3);
            border: var(--box-crisp);
            border-radius: .5em;
            align-items: center;
            display: none;
            justify-content: center;
            top: .5em;
            left: .5em;
            box-shadow: 0 0 5px #000000ab;
            padding: 3px;
        }
    }

    & img.gif-result {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: .5em;
    }
}

.edited-tag {
    opacity: .5;
    font-size: small;
    margin-left: 5px;
    display: inline-block;
}