body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #101010 !important;
}

.mainUI {
    display: flex;
    flex-direction: column;
}

.topNav {
    padding: .5em;

    &>.searchContainer {
        display: flex;
        flex-direction: row;
        background-color: var(--col-bg2);
        border: var(--box-crisp);
        border-radius: .5em;

        &>.button>.material-symbols-rounded {
            opacity: .5;
            display: flex;
            justify-content: center;
        }

        &>input {
            background-color: transparent;
            border: none;
            flex: 1;
            min-width: none;
        }

        &>* {
            padding: .5em 1em;
        }
    }

    &>.filterBtns {
        display: flex;
        flex-direction: row;
        gap: .5em;
        margin-top: .5em;

        &>.btn {
            background-color: var(--col-bg2);
            border: var(--box-crisp);
            border-radius: .5em;
            padding: .2em .5em;
        }
    }
}

#contactsList {
    padding: .5em;
    padding-top: 0;
}

.sing_contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: .5em;
    background-color: var(--col-bg2);
    border-radius: .5em;
    gap: .5em;

    &>.data {
        flex: 1;

        &>.name {
            font-size: 1.1em;
        }

        &>.noteDisplay {
            opacity: .7;
        }
    }

    &>.pfp {
        height: 40px;

        &>img {
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: .2em;
        }
    }
}