body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainUI {
    display: flex;
    flex-direction: column;
}

.topNav {
    padding: .5em;

    &>.searchContainer {
        display: flex;
        flex-direction: row;
        background-color: var(--col-bg2);
        border: var(--box-crisp);
        border-radius: .5em;
        max-width: 1000px;
        margin: auto;

        &>.button>.icon {
            opacity: .5;
            display: flex;
            justify-content: center;
        }

        &>input {
            background-color: transparent;
            border: none;
            flex: 1;
            min-width: 0;
        }

        &>* {
            padding: .5em 1em;
        }
    }
}

.filterBtns {
    display: flex;
    flex-direction: row;
    gap: .5em;
    margin-bottom: .5em;

    &>.btn {
        background-color: var(--col-bg2);
        border: var(--box-crisp);
        border-radius: .5em;
        display: flex;
        padding: .3em;
        gap: .5em;

        &.cant {
            opacity: .5;
            pointer-events: none;
        }
    }
}

.contactsListMaster {
    padding: 0 25vw;
    width: calc(50vw - 1em);
    margin: 0 auto;
    overflow-y: auto;
    height: calc(100vh - 5em);
    padding-top: 1em;
}

@media screen and (max-width: 1000px) {
    .contactsListMaster {
        padding: 1em;
        width: calc(100% - 2em);
    }
}

#contactsList {
    padding-top: 0;
}

.sing_contact {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: .5em;
    overflow: hidden;
    margin-bottom: .5em;
    border: var(--box-crisp);
    height: 66px;
    transition: height .3s;

    &.moresecshw {
        height: 150px;
    }


    & .contactsDefVisSec {
        display: flex;
        padding: .5em;
        align-items: center;
        background-color: var(--col-bg2);
        flex-direction: row;
        gap: .5em;
        transition: .3s;


        &:hover {
            filter: brightness(120%);

            & .gobtn {
                opacity: 1;
            }
        }

        &>.data {
            flex: 1;

            &>.name {
                font-size: 1.1em;
            }

            &>.noteDisplay {
                opacity: .7;
            }
        }

        &>.pfp {
            height: 40px;

            &>img {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: .5em;
            }
        }
    }

    &>.contactsMoreSec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
        background-color: var(--col-bg1);
        padding: .5em;

        &:hover {
            &>.big.btn {
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &>.big.btn {
            padding: .5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .5em;
            font-size: 0.9em;
            width: 0;
            white-space: nowrap;
            flex: 1;
            border-radius: .5em;
            min-width: 80px;
            max-width: calc(50% - 1em);

            &:hover {
                background-color: var(--col-bg2);
            }

            &>span {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.gobtn.icon {
    transition: .3s;
    padding: 8px;
    border-radius: 1em;
    opacity: .6;
    background-color: var(--col-bg2);

    &:hover {
        background-color: var(--col-bg3);
    }
}

.contact-header {
    margin: .5em;
    margin-top: 1em;
    font-size: 1em;
    background-image: linear-gradient(0deg, transparent 45%, var(--box-crisp-col), transparent 55%);
    background-size: calc(100% - 1.5em);
    background-repeat: no-repeat;
    background-position: right;

    &>i {
        font-size: 1.3em;
        display: flex;
        transform: translateX(-4px);
    }
}

#pinned {
    &>.nothingtext {
        opacity: .5;
        margin: auto;
        width: fit-content;
        margin-top: 1em;
    }
}